# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
x64/
Debug/
Release/
packages/

# Build output
[Bb]in/
[Oo]bj/
x64/
x86/
*.pdb
*.idb
*.ilk
*.ipch
*.aps
*.pch

# CMake (ako ikad bude)
CMakeFiles/
CMakeCache.txt
cmake_install.cmake

# Logs
*.log